asgiref==3.11.1
cfgv==3.5.0
crispy-bootstrap5==2026.3
distlib==0.4.0
Django==6.0.4
django-crispy-forms==2.6
django-debug-toolbar==6.3.0
django-environ==0.13.0
django-extensions==4.1
django-filter==25.2
djangorestframework==3.17.1
filelock==3.29.0
identify==2.6.19
nodeenv==1.10.0
platformdirs==4.10.0
pre_commit==4.6.0
python-discovery==1.4.0
PyYAML==6.0.3
ruff==0.15.15
sqlparse==0.5.5
tzdata==2026.2
virtualenv==21.4.1
psycopg[binary]==3.2.12
